:root {
    --background-primary: #181818;
    --background-secondary: #192041;
    --font-color-primary: #e7e7e7;
    --font-color-secondary: #e7e7e7;
    --button-color-primary: #430373;
    --button-color-hover: #4f038a;
}

[data-theme="light-theme"] {
    --background-primary: #e7e7e7;
    --background-secondary: #ababab;
    --font-color-primary: #181818;
    --font-color-secondary: #e7e7e7;
    --button-color-primary: #7b26bc;
    --button-color-hover: #8e34d2;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-primary);
}

.container {
    width: 300px;
    padding: 25px;
    background-color: var(--background-secondary);
    color: var(--font-color-primary);
    border-radius: 10px;
}

.container h3 {
    font-size: 2em;
}

.form-group {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group input {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

button[type="submit"] {
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--font-color-secondary);
    background-color: var(--button-color-primary);
}

button[type="submit"]:hover {
    background-color: var(--button-color-hover);
}

.change-theme {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--font-color-primary);
}

.hidden {
    display: none;
}