h1 {
    color: blue;
    display: none;
}

/* #meme {
    height: 500px;
} */

.caja {
    width: 200px;
    height: 200px;
}

.azul {
    background-color: violet;
}

.naranja {
    background-color: orange;
}

.grande {
    width: 400px;
    height: 400px;
}

.visibility--hidden {
    display: none;
}